In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Initialize seed trip matrix
seed_matrix = np.array([
    [  5,  40, 120,  30,  50,  60],
    [ 40,   5,  52,  55,  60, 100],
    [120,  52,  10,  25,  90,  30],
    [ 30,  55,  25,  10,  15,  45],
    [ 50,  60,  90,  15,  15,  55],
    [ 60, 100,  30,  45,  55,  20]
])

# Test for symmetry
np.array_equal(seed_matrix, seed_matrix.T)

True

In [3]:
# Initialize target productions/attractions
target_productions = np.array([800, 400, 400, 200,  500, 700])
target_attractions = np.array([200, 600, 400, 300, 1000, 500])

# Initial predicted productions and attractions
predicted_productions = seed_matrix.sum(axis=1)
predicted_attractions = seed_matrix.sum(axis=0)

In [4]:
# Create DataFrames for ease of readability
trip_matrix = pd.DataFrame(seed_matrix)

# Set row and column indices from 1 to 6
trip_matrix.index = range(1, 7)
trip_matrix.columns = range(1, 7)

print("Initial Seed Matrix:")
trip_matrix

Initial Seed Matrix:

     1    2    3   4   5    6
1    5   40  120  30  50   60
2   40    5   52  55  60  100
3  120   52   10  25  90   30
4   30   55   25  10  15   45
5   50   60   90  15  15   55
6   60  100   30  45  55   20

In [5]:
# Define convergence criteria and max iterations
convergence_criteria = (0.90, 1.10)
max_iterations = 10

for iteration in range(1, max_iterations + 1):
    print(f"\nITERATION {iteration}")

    # Update the trip matrix with row factors
    for r in range(trip_matrix.shape[0]):
        row_factor = target_productions[r] / trip_matrix.iloc[r, :].sum()
        trip_matrix.iloc[r, :] *= row_factor

    # Update the trip matrix with column factors
    for c in range(trip_matrix.shape[1]):
        col_factor = target_attractions[c] / trip_matrix.iloc[:, c].sum()
        trip_matrix.iloc[:, c] *= col_factor

    # Prepare DataFrames for display with specified formatting
    trip_matrix_display = trip_matrix.round(1).copy().applymap(lambda x: f"{x:.1f}".rstrip('0').rstrip('.'))

    predicted_productions = trip_matrix.sum(axis=1).values
    predicted_attractions = trip_matrix.sum(axis=0).values

    predicted_productions_df = pd.DataFrame({'Predicted Pi': predicted_productions}, index=trip_matrix.index).applymap(lambda x: f"{x:.1f}")
    predicted_attractions_df = pd.DataFrame([predicted_attractions], columns=trip_matrix.columns, index=['Predicted Aj']).applymap(lambda x: f"{x:.1f}")
    target_productions_df = pd.DataFrame(target_productions, index=trip_matrix.index, columns=['Target Pi']).applymap(lambda x: f"{x:.1f}")
    target_attractions_df = pd.DataFrame([target_attractions], columns=trip_matrix.columns, index=['Target Aj']).applymap(lambda x: f"{x:.1f}")

    row_factors = target_productions / predicted_productions
    col_factors = target_attractions / predicted_attractions
    row_factors_df = pd.DataFrame(row_factors, index=trip_matrix.index, columns=['Fi'])
    col_factors_df = pd.DataFrame(col_factors, index=trip_matrix.columns, columns=['Fj']).T

    # Combine all dataframes
    combined_display = pd.concat([trip_matrix_display, predicted_productions_df, target_productions_df, row_factors_df], axis=1)

    # Append the predicted and target attractions rows and column factors
    combined_display = pd.concat([combined_display, predicted_attractions_df, target_attractions_df, col_factors_df], axis=0)

    # Display the updated matrix with row/column factors and targets
    print("Updated Trip Matrix with Targets and Row/Column Factors:")
    display(combined_display.style.set_properties(**{'border': '1px solid black'}))

    # Check convergence
    row_factors_close = (convergence_criteria[0] <= row_factors) & (row_factors <= convergence_criteria[1])
    col_factors_close = (convergence_criteria[0] <= col_factors) & (col_factors <= convergence_criteria[1])

    if row_factors_close.all() and col_factors_close.all():
        print("\nConvergence achieved.")
        break
else:
    print("\n\nConvergence not achieved after maximum iterations.")

# Display final trip matrix rounded to the nearest whole number
final_trip_matrix_display = trip_matrix.round(0).applymap(lambda x: f"{x:.0f}")
print("\n\nFinal Trip Matrix (Rounded):")
display(final_trip_matrix_display.style.set_properties(**{'border': '1px solid black'}))

ITERATION 1
Updated Trip Matrix with Targets and Row/Column Factors:

ITERATION 2
Updated Trip Matrix with Targets and Row/Column Factors:

Convergence achieved.


Final Trip Matrix (Rounded):